style :user-invalid yes yes
stop style very bonito yesyes forced very bonito and forte fortissimo yes yes :status encendidisssssssimo yes yes foreignObjecthp jk lenovo quitarteclasordenadorhugo/yes yes/forceadamenate/administrador/jorgealonsomehaceestaweb i kill tu ya esta {
    yesyes: obiusli, no errores plisss//;
}